app/etc/local.xml
blog/*
downloader/cache.cfg
downloader/connect.cfg
downloader/.cache
media/catalog
media/tmp
media/import
media/email
media/magentothem/banner7
media/queldorei
media/queldorei_old
media/wysiwyg
var/backups
var/export
var/cache
var/log
var/report
var/session
var/locks
var/package
var/importexport
var/import
.idea/
var/resource_config.json
/nbproject
/local.xml
sitemap.xml
blog